.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* ---------------------------------------------------------------------------------------------------------------------------------------------- */






.question-summary {
  overflow: hidden;
  padding: 15px 0;
  float: left;
  width: 728px;
  border-bottom: 1px solid #eff0f1;
}


.statscontainer {
  margin-right: 16px;
  width: 58px;
  float: none;
}

.stats {
    margin: 0;
    width: 58px;
}

.vote-count-post {
  display: block;
  font-size: 20px;
}


.votes {
  padding: 0;
  margin-bottom: 8px;
  text-align: center;
}

.vote {
  text-align: center;
}



.summary h3 {
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: .5em;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.summary, .narrow .summary {
  flex: 1 auto;
  width: auto;
  float: none;
  margin: 0;
  overflow: hidden;
}

.question-summary {
  display: flex;
  padding: 12px 8px;
  float: none;
  width: 100%;
}

.question-summary {
  overflow: hidden;
  padding: 15px 0;
  float: left;
  width: 728px;
  border-bottom: 1px solid #eff0f1;
}



